<div class="row">
    <div class="col-sm-11 col-sm-offset-1">
        <p>
            This is a little tool that uses a database of ~500 Anaesthetics Short Answer Questions. If you're not an Australian anaesthetics registrar heading for your
            primary or fellowship exams, this site probably isn't for you.
        </p>
        <p>
            But if you're not and you still want to look around, then sure. <a href="http://i.imgur.com/263enxT.jpg" target="_blank">Whatever floats your goat</a>.
        </p>
    </div>
</div>

<div class="row" style="margin-top:40px;">
    <div class="col-sm-11 col-sm-offset-1">
        <p>
            At any time, you can click the <button class="btn btn-warning btn-xs"><i class="glyphicon glyphicon-refresh"></i></button> button to replace an individual question,<br/>
            or you can click the <button class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-remove"></i></button> button to remove a question entirely (for 24hrs).
        </p>
    </div>
</div>

<div class="row" style="margin-top:40px;">
    <div class="col-sm-11 col-sm-offset-1">
        <p>To get in contact with the author, try emailing dev@damianbrady.com.au</p>
    </div>
</div>