<div class="row">
    <div class="col-sm-12">
        <div class="text-center">
            <h1>Want some random SAQs?</h1>
            <a href="/questions/8" title="Click here for 8 questions" class="btn btn-primary btn-lg">Click Here!</a>
        </div>
    </div>
</div>

<div class="row" style="margin-top:80px;">
    <div class="col-sm-11 col-sm-offset-1">
        <p>At any time, you can click the <button class="btn btn-warning btn-xs"><i class="glyphicon glyphicon-refresh"></i></button> button to replace an individual question,<br />
        or you can click the <button class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-remove"></i></button> button to remove a question entirely (for 24hrs).</p>
    </div>
</div>